<html>
	<head>
		<title></title>
	</head>
	<body>
	 <object width="500" height="1500" allowscriptaccess="never" type="application/x-shockwave-flash" flashvars="clickTAG=http://googleads.g.doubleclick.net/aclk%3Fsa%3DL%26ai%3DCBh_30jPUVtbfAsbFzAb6loCAB8u-84MJk9DJjo0DnriItoMDEAEg-oydHWCz3tCC4C3IAQTgAgCoAwGqBNcBT9CgUGWGyQnsiICd2BNodeF2o7EeKQqQ1C4o1hkvPLWJxLXMpUz2PQxXr2ic4tVz2u6AF-BI_YehQDpLvLj4i0hScPj0OfhyW7LzuuoNaSonnAF1biLeiprSpbbASjs4kyzY0Ki07PJx_sg0JhhKLCaSzPeHXb0BV3zvV3P0D4OvZEeNuiv4GNoUvv5BzhwmejYatk6guXGaJ2rtdHqRPIx5i6wYeR2ECfjZLBsD9KI9Tjh2UlmC7hvUW9Tq3dbCPLXiR94M2u5KkrvJ6C9HPn2UQGMXRtbgBAGgBgSAB8PywjuoB6a-G9gHANgTAw%26num%3D1%26sig%3DAOD64_3ntEw9CTNlKSHacrQSCGjpLQM7mQ%26client%3Dca-pub-5041804953714966%26adurl%3Dhttp://www.banquemisr.com/ar" wmode="opaque" id="google_flash_embed" data="https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCzvJKGQxDYBRhaMgjLqocONFm-Zw"></object>
	
	
		<a class="nivo-imageLink" href="http://www.banquemisr.com/ar/Documents/SME's%20NEW%201200X768%20pix%20(BM%20Web%20Site%20)%2018-1-2016%20AR.pdf" title="" style="display: none;">
<img title="" alt="" src="/ar/DynamicBanner/SME's Banner 678X280 Pix BM Web Site 29-12-2015 AR.jpg" style="width: 680px; visibility: hidden;">
</a>
	</body>
</html>